/*import font style */
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Charmonman", cursive;
}

body {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  padding: 30px auto;
  width: 350px;
}

/* Zoom boxing*/

.zoom {
  padding: 50px;
  background-color: rgb(39, 14, 233);
  transition: transform 0.2s;
  /* width: 150px;
  height: 150px;
  margin: 25px 50px; */
  text-align: center;
  text-size-adjust: 50px;
  text-emphasis-color: white;
  color: #ccc;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
.item-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  color: #f7f7f7;
}
.item-list li {
  background: #2c3e50;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding: 30px;
  color: rgb(226, 221, 221);
  display: flex;
  justify-content: space-between;
  margin: 10px;
  position: relative;
  border-radius: 10px 10px 10px 10px;
  font-size: 25px;
}
